<div class="show-user-section">
  <h1>プロフィール</h1>
  <div class="show-user-profile">
    <div class="show-user-information">
      <h3>ユーザー情報</h3>
      <table>
        <tr>
          <th>アイコン</th>
          <td>
            <% if @user.icon? %>
              <%= image_tag @user.icon.url, class: "show-user-icon" %>
            <% else %>
              <%= image_tag "default_icon.jpg", class: "show-user-icon" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>名前</th>
          <td><span><%= @user.name %></span></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
      <div class="show-user-chat-buttons">
        <p class="show-user-posted-chat-button">投稿したチャット一覧を表示</p>
        <p class="show-user-liked-chat-button">いいねしたチャット一覧を表示</p>
      </div>
    </div>
    <div class="show-user-chat">
      <%= render "users/shared/posted_chats", posts: @user_posts %>
      <%= render "users/shared/liked_chats", user: @user, posts: @all_posts %>
    </div>
  </div>
</div>
