<div class="chat-section">
  <h1><span><%= @game.name %></span><%= @game.purpose %>掲示板</h1>
  <p><%= @game.description %></p>
  <%= form_with model: [@game, @post], class: "chat-form" do |f| %>
    <h3>投稿する</h3>
    <%= render "shared/error_messages", resource: @post %>
    <%= f.text_area :text, class: "chat-text-area" %>
    <%= f.submit "投稿する", class: "chat-submit" %>
  <% end %>
  <ol class="chat-list">
    <li id="chat-list-item-header">
      <span class="chat-header">チャット</span>
    </li>
    <%= render partial: "games/shared/chat", collection: @posts, as: :post, locals: { game: @game } %>
  </ol>
</div>
