<div class="chat-section">
  <h1><span><%= @game.name %></span><%= @game.purpose %>掲示板</h1>
  <p><%= @game.description %></p>
  <%= form_with model: [@game, @post], class: "chat-form" do |f| %>
    <h3>投稿する</h3>
    <%= f.text_area :text, class: "chat-text-area" %>
    <%= f.submit "投稿する", class: "chat-submit" %>
  <% end %>
  <ol class="chat-list">
    <li id="chat-list-item-header">
      <span class="chat-header">チャット</span>
    </li>
    <% @posts.each.with_index(1).reverse_each do |post, index| %>
      <li id="chat-list-item-<%= index %>">
        <h3>
          <span><%= index %></span>
          <% if post.user %>
            <%= link_to post.user.name, user_path(post.user), class: "chat-username-link" %>
          <% else %>
            アカウント削除済みユーザー
          <% end %>
        </h3>
        <p>
          <span><%= generate_link(post.text, @game)[0][:link] %></span>
          <%= safe_join(generate_link(post.text, @game)[0][:content].split("\n"), tag.br) %>
        </p>
        <span class="chat-creation-date"><%= post.created_at.to_s(:datetime) %></span>
        <span class="chat-reply-button">返信</span>
      </li>
    <% end %>
  </ol>
</div>
