<%= form_with model: game, class: "game-form" do |f| %>
  <%= render "shared/error_messages", resource: game %>
  <table>
    <tr>
      <th><%= f.label :name, "ゲーム名", class: "game-label" %></th>
      <td><%= f.text_field :name, class: "game-field" %></td>
    </tr>
    <tr>
      <th><%= f.label :genre, "ジャンル", class: "game-label" %></th>
      <td><%= f.select :genre, ["アクション", "RPG", "パズル", "スポーツ", "レース", "その他"], { include_blank: "ジャンルを選択" }, { class: "game-select-field" } %></td>
    </tr>
    <tr>
      <th><%= f.label :purpose, "掲示板の用途", class: "game-label" %></th>
      <td><%= f.select :purpose, ["交換", "対戦", "マルチプレイ募集"], { include_blank: "選択してください" }, { class: "game-select-field" } %></td>
    </tr>
    <tr>
      <th><%= f.label :description, "掲示板の説明", class: "game-label" %></th>
      <td><%= f.text_area :description, class: "game-text-area" %></td>
    </tr>
  </table>
  <%= f.submit game.new_record? ? "作成" : "更新", class: "game-button" %>
<% end %>
